* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    overflow-x: hidden;

}

.backgrnd {
    background-color: #1A2130;
    padding: 3rem;
    background-repeat: no-repeat;
    padding-top: 1rem;
    background-size: cover;
    padding-bottom: 1rem;


}

.bloglist {
    display: flex;
    float: right;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    gap: 2rem;
    list-style: none;
    align-self: flex-end;
    letter-spacing: 5px;
    cursor: pointer;
}


.bloglist a {
    color: #ece6e5;
}

.bloglist button {
    background-color: transparent;
    border-radius: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5px;
    background-color: #A30D3F;
    border: none;
    font-weight: 700;
    padding-top: 3px;
}

.bloglist button:hover {
    background-color: rgb(6, 83, 41);
    motion: auto;
}

.sec1 {
    background-image: url(../img/imgz/empty-street-dark-atmosphere_23-2150914358.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
}

.sec1logo {
    padding: 20px 10px;
}

nav {
    display: flex;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 3rem;
    margin-left: 6.5rem;
    margin-right: 2rem;
    letter-spacing: 3px;
    gap: 2rem;
}

ul li {
    display: block;
    color: #A30D3F;
    text-align: center;
    padding: 14px 16px;
}

ul li a {
    color: #f3f3f3;
    display: flex;
    font-weight: bold;
    font-size: 24px;
}

.search-bar {
    padding-top: 4rem;
    text-align: center;
    border-radius: 6px;
    border: none;
}



.search-bar input[type="text"] {
    padding: 8px;
    border-radius: 15px;
    margin-right: 5px;
    text-align: center;
    padding-left: 8rem;
    padding-right: 8rem;
    background-color: transparent;
    padding-top: 4px;
    padding-bottom: 7px;
    color: white;
    font-size: 15px;
    margin-top: 7rem;
    background-color: #e7ccd5;
}

.search-bar button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #FC4100;
    color: black;
    cursor: pointer;
    font-weight: bolder;
}

.search-bar button:hover {
    background-color: #2D9596;
}

.sec1img {
    margin-top: -16rem;
    margin-left: 90px;
    border-radius: 8px;

}

.sec1txt {
    line-height: 25px;
    padding-top: 3rem;
    letter-spacing: 5px;

}

.sec1txt h1 a {
    align-items: flex-start;
    padding-top: 1rem;
    margin-left: 100px;
    margin-bottom: 1rem;
    color: rgb(223, 9, 9);

}

.sec1txt h3 {
    margin-left: 40%;
    color: white;
    font-size: 13px;
    font-family: verdana;
    display: flex;
    align-items: center;
    text-align: left;
    letter-spacing: 2px;
    word-spacing: 3px;
    width: 500px;
    line-height: 35px;
    letter-spacing: 2px;
    margin-top: -1rem;
}

.sec1txt button {
    margin-left: 50%;
    margin-top: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: none;
    background-color: #a70c0c;
    font-weight: 800;
    font-family: verdana;
}

.sec1buttxt a {
    color: white;
}

.sec2 {
    background-image: url(../img/imgz/glass\ 2.jpg);
    
    display: flex;
    object-fit: fill;
    /* justify-content: center; */
    position: relative;
    height: 150vh;
    background-size: cover;
}

.sec2 video {
    padding-top: 2rem;
    margin-left: 5%;
    border-radius: 23px;
    margin-bottom: 1rem;

}

.sec2vid-h1-container h1 {
    word-spacing: 33px;
    padding-top: 18px;
    margin-left: 5%;
}

.sec2vid-h1-container h1 a {
    color: aqua;
}

#img1 {
    float: right;
    margin-top: 2rem;
    padding-right: 12%;

}

#img1 h3 a {
    margin-top: 3px;
    color: rgb(243, 238, 238);
    text-decoration: underline;
    letter-spacing: 2px;

}

.sec3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/purple-dew-abstract-watery-morning-background_23-2148290208.jpg);
}


#text-1 {
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: 3px;
    text-decoration: underline;
}

.sec3 h2 a {
    color: red;
}


.sec3-3img-container {
    margin-top: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 3rem;

}



#secimg-1 {}

#secimg-1 a {
    color: red;
    margin-left: 93px;

}

#secimg-2 {}

#secimg-2 a {
    color: red;
    margin-left: 53px;

}

#secimg-3 {}

#secimg-3 a {
    color: red;
    margin-left: 73px;

}

.sec4 {
    background-image: url(../img/purple-dew-abstract-watery-morning-background_23-2148290208.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#text-1 {
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: 3px;
    text-decoration: underline;
}

.sec4 h3 a {
    color: rgb(255, 255, 255);
}

.sec4-3img-container {
    margin-top: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 3rem;

}

.sec5 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/dark\ ai\ 1.jpg);
}

.sec5-container {
    /* background-color: #0a0314; */
    padding: 3rem 5rem;

}

.sec5vid-h1-container h1{
    word-spacing: 6px;
    padding-top: 25px;
    margin-left: 11%;
    padding-bottom: 12px;
}

.sec5vid-h1-container h1 a{
    color: aqua;
}


.sec5A-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    padding-bottom: 3rem;
}

.sec5A-content a{
    color: red;
}

.sec5B-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    padding-bottom: 3rem;
}

.sec5B-content a{
    color: red;
    
}


.sec6 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/dark\ ai\ 1.jpg);
}

.sec6 h2 a {
    color: rgb(226, 3, 3);
}

.sec6 h1{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 3%;
}

.sec6 h1 a{
    color: aqua;
}

.sec6-3img-container {
    margin-top: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 3rem;
    
}

#secimg-2{
    border-radius: 25px ;
    
}

#secimg-1{
    border-radius: 25px ;
    
}

#secimg-1a{
    border-radius: 25px ;
    font-size: 15px;
    padding-left: 19px;
}

#secimg-3{
    border-radius: 25px ;
    
}